<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Member List</title>
</head>
<body>
    <article>
        <h1>회원 목록</h1>
        <section>
            <table style="border: 1px solid black;">
                <thead>
                    <tr>
                        <th>이름</th>
                        <th>ID</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="member: ${members}">
                        <td th:text="${member.id}">ID</td>
                        <td th:text="${member.name}">Name</td>
                    </tr>
                </tbody>
            </table>
        </section>
    </article>
</body>
</html>